body {
    background-color: purple;
}
.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    background-color: indigo;
    padding: 16em;
}

#game-room {
    max-width: 20em;
    margin-bottom: 18em;
}

#player-form {
    flex-direction: column;
}

#users {
    border: 1px solid black;
    width: 20em;
}

#name-entry {
    margin-bottom: 2px;
    margin-right: 1em;
}

#players {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2em;
}

.form-group {
    margin-top: 5em;
}

h1 {
    color: white;
    margin-bottom: 0;
}

h2, p {
    color: white;
}

img {
    width: 50px;
    height: 50px;
}


@media screen and (max-width : 768px) {
    .container {
        padding: 0;
    }
}