
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    border: 2px solid black;
    border-radius: 20px;
    background-color: indigo;
    padding: 2em;
}

#game-room {
    max-width: 20em;
    margin-bottom: 18em;
}

#player-form {
    flex-direction: column;
}

#users {
    border: 1px solid black;
    width: 20em;
}

#name-entry {
    margin-bottom: 2px;
    margin-right: 1em;
}

#players {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2em;
}

.form-group {
    margin-top: 5em;
}

h1 {
    color: white;
    margin-bottom: 0;
}

h2, p {
    color: white;
}

img {
    width: 100px;
    height: 100px;
}


/* Tablet */
@media screen and (max-width : 768px) {

    .container {
        flex-direction: column;
        margin-top: 0;
        border-radius: 0;
    }

    #game-room {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

    #players {
        margin-top: 2em;
        padding: 1em;
    }
}
  
@media screen and (max-width : 991px) {

}