body {
    background-color: purple;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    border: 2px solid black;
    padding: 2em;
}

#game-room {
    max-width: 20em;
    margin-bottom: 18em;
}

#player-form {
    flex-direction: column;
}

#users {
    border: 1px solid black;
    width: 20em;
}

#name-entry {
    margin-bottom: 2px;
    margin-right: 1em;
}

#players {
    border: 2px solid black;
    padding: 2em;
}

img {
    width: 100px;
    height: 100px;
}


/* Tablet */
@media screen and (max-width : 768px) {
    .container {
        margin: 5em;
    }
}
  
@media screen and (max-width : 991px) {

}